@import "tailwindcss";
@import "./utilities.css";

@layer base {
  html,
  body {
  }
  :root {
    /* colors */
    --color-grey-50:"#0000000D"
    /* grid */
    --custom-grid-padding: 1rem;
    --custom-grid-gap: 0.5rem;
    --custom-grid-columns: 4;
  }

  /* @media (width >= 768px) {
    :root{
      --custom-grid-padding: 2rem;
      --custom-grid-gap: 1rem;
      --custom-grid-columns: 8;
    }
  } */
  @media (width >= 1280px) {
    :root {
      --custom-grid-padding: 1.375rem;
      --custom-grid-gap: 1.25rem;
      --custom-grid-columns: 12;
    }
  }
}
